@use '../../styles/utils/index.scss' as *;

.tab-switch-button {
  color: var(--color-mute-partial);
  border-radius: 0;

  transition: .2s ease-out;

  font-size: var(--font-size-sm);

  &:hover {
    color: var(--color-foreground);
  }

  &[aria-selected='true'] {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }
}

.tab-switch-component-contianer {
  height: 100%;
  overflow: scroll;
}

.modal-wrapper {
  @include full-center;

  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding-top: var(--unit-32px);

  background-color: #02020241;
  backdrop-filter: blur(4px);

  overflow: auto;

  &__main-container {
    @include containerDropShadow;

    margin: auto;

    width: fit-content;

    padding: var(--unit-8px);

    background-color: var(--color-background-container);
    
    border-radius: var(--border-radius-container);
  }
}