@use '../../../../../styles/utils/index' as *;

.form-wrapper {
  @include limit-width(500px, 50dvw, 1600px);

  @include vertical-padding(
    var(--unit-24px)
  );
  @include horizontal-padding(
    var(--unit-32px)
  );

  @include flex-column(var(--unit-16px));

  input, textarea {
    width: 100%;
  }

  textarea {
    height: 10em;
    resize: none;
  }

  &__title-wrapper {
    &__title {
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-semi-bold);
    }
  }
}